/*.navbar {
    position: fixed;
    top: 0;
}*/

.image-carousel {
    object-position: 0 80%;
    object-fit: cover;
    height: 400px;
}

.image-carousel2 {
    object-position: 0 60%;
    object-fit: cover;
    height: 400px;
}

.font-title {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}

.font-title2 {
    font-family: 'Pacifico', cursive;
    font-size: 35px;
}

.special-color {
    color: darkred;
}
